.close-popup-btn {
  position: absolute;
  top: -53px;
  right: -42px;

}

.popup-wrapper {
  position: relative;
  opacity: 0;
  z-index: -1;
  transition: all ease-in 0.3s;

  &_active {
    opacity: 1;
    z-index: 0;
  }
}

.popup {
  display: flex;
  width: 900px;
  height: 500px;
  gap: 9px;
  background: $color-light-s;
  border-radius: 9px;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  overflow: hidden;

  h3, h4, h5 {
    color: #000000;
  }
}

.popup__image {
  width: 500px;
  height: 500px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: auto;
  }
}

.popup__description {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

.popup__title-block {
  h3 {
    margin-bottom: 10px;
  }
}

.popup__data-block {
  li {
    list-style: disc;
    list-style-position: inside;
    margin-bottom: 10px;

    h5 {
      display: inline-block;
      font-weight: 700;

      span {
        font-weight: 400;
      }
    }

    &::marker {
      color: $color-primary;
    }
  }
}

