.footer {
  background: url("assets/noise_transparent-2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__wrapper {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  column-gap:40px;

  @include media-tablet {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;
    row-gap: 65px;
    padding-top: 30px;
  }

  @include media-mobile {
    padding-top: 30px;
    gap: 40px;
  }

  .footer__img {
    width: 300px;

    @include media-mobile {
      width: 260px;
    }
  }
}

.footer__contacts {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 60px;
  padding-top: 16px;
  width: min-content;

  @include media-tablet {
    gap: 33px;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include media-mobile {
    gap: 40px;

    h4 {
      @include font(2rem, 115%, 400)
    }
  }

  h3 {
    color: $color-light-xl;
    display: block;

    @include media-mobile {
      text-align: center;
    }

    &.mobile-title {
      display: none;

      @include media-mobile {
        display: block;
      }
    }
  }

  @include media-mobile {
    h3:first-of-type {
      display: none;
    }
  }
}

.footer__contact {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  color: $color-primary;
  transition: color 0.3s ease-in;

  &:hover {
    color: $color-light-s;
  }
}