* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  font-family: 'Arial', 'Verdana', sans-serif;
  color: $color-dark-l;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: 'Georgia', sans-serif;
  @include font(3.2rem, 110%, 400);
  letter-spacing: 0.06em;
}


h2 {
  font-family: 'Georgia', sans-serif;
  @include font(4.4rem, 130%, 400);
  color: $color-dark-l;
}

h3 {
  font-family: 'Georgia', sans-serif;
  @include font(3.5rem, 130%, 400);
  letter-spacing: 0.06em;
  color: $color-dark-l;
}

h4 {
  font-family: 'Georgia', sans-serif;
  @include font(2rem, 115%, 400);
  letter-spacing: 0.06em;
  //color: $color-dark-l;
}

h5 {
  font-family: 'Georgia', sans-serif;
  @include font(1.5rem, 110%, 400);
  letter-spacing: 0.06em;
  color: $color-dark-l;
}

.paragraph_l {
  font-family: 'Arial', sans-serif;
  @include font(1.5rem, 160%, 400);
  //color: var(--color-dark-xl);
}

.paragraph-s {
  font-family: 'Arial', sans-serif;
  @include font(1.2rem, 150%, 400, italic);
  color: $color-dark-m;
}

.pets-card-title {
  font-family: 'Georgia', sans-serif;
  @include font(2rem, 2.3rem, 400);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $color-dark-l;
}

.donation_description {
  font-family: 'Arial', sans-serif;
  @include font(1.2rem, 1.8rem, 400, italic);
  color: $color-dark-l;
}

