.our-friends {
  background: $color-light-l;

  &_top-padding {
    padding-top: 120px;

    .our-friends__wrapper {
      @include media-tablet {
        gap: 30px;
        padding-bottom: 76px;
      }
    }
  }
}

.our-friends__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-top: 80px;
  padding-bottom: 100px;

  h3 {
    text-align: center;
  }
}

.our-friends__slider {
  display: flex;
  justify-content: space-between;
  gap: 53px;
  align-items: center;
  width: 100%;

  @include media-tablet {
    gap: 12px;
  }
}

$card-width: calc(260px + (100% - 260px*2)/4);


.our-friends__cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
  overflow: hidden;
  column-gap: calc((100% - 270px*3)/2);

  @include media-tablet {
      column-gap: calc((100% - $card-width*2));
  }


  &_wrap {
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;
    justify-content: center;
    max-height: 1365px;
    overflow: hidden;

    .card {
      @include media-tablet {
        width: 270px;
        flex-shrink: 0;
      }
    }

  }
}

.card {
  background: $color-light-s;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-bottom: 30px;
  transition: all 0.3s ease-in;

  &:hover {
    background: $color-light-xl;
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;

    .button_secondary {
      @extend %button_secondary_hover;
    }
  }

  @include media-tablet {
    width: $card-width;
    min-width: 270px;
    flex-shrink: 0;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;

  @include media-tablet {
    margin-top: 10px;
  }

}