@mixin font ($size, $height: $size, $weight, $style: normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}

@mixin media-tablet {
  @media screen and (max-width: 1140px) {
    @content
  }
}

@mixin media-mobile {
  @media screen and (max-width: 745px) {
    @content
  }
}




